{% extends 'layout.html' %}

{% load staticfiles %}
{% block title %}
    {{ blog_content.title }}
{% endblock %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'strapdown/strapdown.css' %}" rel="stylesheet">
    <link href="{% static 'strapdown/themes/readable.min.css' %}" rel="stylesheet">


{% endblock %}

{% block body %}
    <div role="main" class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <h1>{{ blog_content.title }}</h1>
                <p>{{ blog_content.category }}</p>
                <p>{{ blog_content.date_time }}</p>
                {#    <p>{{ blog_content.content }}</p>#}

                <div class="row">
                    <div class="col-md-12">
                        <div id="content_main">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'strapdown/layer/layer.js' %}"></script>
    <script src="{% static 'strapdown/strapdown.js' %}"></script>
    <script src="{% static 'js/hex2utf8.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#content_main').html(markdownFromText(hex2a("{{ blog_content.content }}"), "content_main"))
        })
    </script>

{% endblock %}
