<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    {% load staticfiles %}
    <title>
        {% block title %}Welcome{% endblock %}
    </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css"/>
    <link data-require="fontawesome@4.1.0" data-semver="4.1.0" rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <script data-require="marked@*" data-semver="0.3.1" src="{% static 'bootstrap/js/marked.js' %}"></script>

    {% block css %}

    {% endblock %}
    <base target="_blank">
    {% block script %} {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

{% block script-end %} {% endblock %}
</body>

</html>
